.outer-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.6;
    padding: 20px 0;
}

.input{
    padding: 5px 0;
    margin: 5px;    
}

.input1{
    width: 180px;
    padding: 5px 0;
    margin: 5px;    
}


.form{
    width: 330px;    
    display: flex;
    
    
    flex-direction: column;
    align-self: center;
}

.button{
    padding: 8px 20px;
    background: #2AA1AF ;
    border: none;
    border: 2px solid #fff;
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.left{
    font-weight: 500;
    font-size: 18px;
}



.element{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.dialog{
    min-width: 30vw;
    min-height: 20vh;
    /* width : auto;
    height: fit-content; */
    background: #fff;    
    box-shadow: 10px 11px 20px 0px rgba(0,0,0,0.7)
}

.event{
    width: inherit;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-around;
}